h1 {
    color: blue;
    font-size: 24px;
    background-color: rgb(238, 29, 29);
}

@media all and (max-width: 1200px) {
    h1 {
        color: red;
    }
}

div {
    color: rgb(238, 29, 29);
    background-color: blue;
}

div ul {
    background-color: green;
}

div ul li {
    font-family: "Courier New", Courier, monospace;
}

.btn1 {
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.btn1 :hover {
    letter-spacing: 3px;
    background-color: hsl(261, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
}

.btn1:active {
    letter-spacing: 3px;
    background-color: hsl(261, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.btn2 {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.btn2 :hover {
    letter-spacing: 3px;
    background-color: hsl(261, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
}

.btn2:active {
    letter-spacing: 3px;
    background-color: hsl(261, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.item-1 {
    background-image: url("img/item-1.png");
}

.item-2 {
    background-image: url("img/item-2.png");
}

.item-3 {
    background-image: url("img/item-3.png");
}

.item-4 {
    background-image: url("img/item-4.png");
}

.item-5 {
    background-image: url("img/item-5.png");
}

.item-6 {
    background-image: url("img/item-6.png");
}

.item-7 {
    background-image: url("img/item-7.png");
}

.item-8 {
    background-image: url("img/item-8.png");
}

.item-9 {
    background-image: url("img/item-9.png");
}

.item-10 {
    background-image: url("img/item-10.png");
}

.item-11 {
    background-image: url("img/item-11.png");
}

.item-12 {
    background-image: url("img/item-12.png");
}

.item-13 {
    background-image: url("img/item-13.png");
}

.item-14 {
    background-image: url("img/item-14.png");
}

.item-15 {
    background-image: url("img/item-15.png");
}

.item-16 {
    background-image: url("img/item-16.png");
}

.item-17 {
    background-image: url("img/item-17.png");
}

.item-18 {
    background-image: url("img/item-18.png");
}

.item-19 {
    background-image: url("img/item-19.png");
}

.item-20 {
    background-image: url("img/item-20.png");
}

.item-21 {
    background-image: url("img/item-21.png");
}

.item-22 {
    background-image: url("img/item-22.png");
}

.item-23 {
    background-image: url("img/item-23.png");
}

.item-24 {
    background-image: url("img/item-24.png");
}

.item-25 {
    background-image: url("img/item-25.png");
}

.item-26 {
    background-image: url("img/item-26.png");
}

.item-27 {
    background-image: url("img/item-27.png");
}

.item-28 {
    background-image: url("img/item-28.png");
}

.item-29 {
    background-image: url("img/item-29.png");
}

.item-30 {
    background-image: url("img/item-30.png");
}

.item-31 {
    background-image: url("img/item-31.png");
}

.item-32 {
    background-image: url("img/item-32.png");
}

.item-33 {
    background-image: url("img/item-33.png");
}

.item-34 {
    background-image: url("img/item-34.png");
}

.item-35 {
    background-image: url("img/item-35.png");
}

.item-36 {
    background-image: url("img/item-36.png");
}

.item-37 {
    background-image: url("img/item-37.png");
}

.item-38 {
    background-image: url("img/item-38.png");
}

.item-39 {
    background-image: url("img/item-39.png");
}

.item-40 {
    background-image: url("img/item-40.png");
}

.item-41 {
    background-image: url("img/item-41.png");
}

.item-42 {
    background-image: url("img/item-42.png");
}

.item-43 {
    background-image: url("img/item-43.png");
}

.item-44 {
    background-image: url("img/item-44.png");
}

.item-45 {
    background-image: url("img/item-45.png");
}

.item-46 {
    background-image: url("img/item-46.png");
}

.item-47 {
    background-image: url("img/item-47.png");
}

.item-48 {
    background-image: url("img/item-48.png");
}

.item-49 {
    background-image: url("img/item-49.png");
}

.item-50 {
    background-image: url("img/item-50.png");
}

.item-51 {
    background-image: url("img/item-51.png");
}

.item-52 {
    background-image: url("img/item-52.png");
}

.item-53 {
    background-image: url("img/item-53.png");
}

.item-54 {
    background-image: url("img/item-54.png");
}

.item-55 {
    background-image: url("img/item-55.png");
}

.item-56 {
    background-image: url("img/item-56.png");
}

.item-57 {
    background-image: url("img/item-57.png");
}

.item-58 {
    background-image: url("img/item-58.png");
}

.item-59 {
    background-image: url("img/item-59.png");
}

.item-60 {
    background-image: url("img/item-60.png");
}

.item-61 {
    background-image: url("img/item-61.png");
}

.item-62 {
    background-image: url("img/item-62.png");
}

.item-63 {
    background-image: url("img/item-63.png");
}

.item-64 {
    background-image: url("img/item-64.png");
}

.item-65 {
    background-image: url("img/item-65.png");
}

.item-66 {
    background-image: url("img/item-66.png");
}

.item-67 {
    background-image: url("img/item-67.png");
}

.item-68 {
    background-image: url("img/item-68.png");
}

.item-69 {
    background-image: url("img/item-69.png");
}

.item-70 {
    background-image: url("img/item-70.png");
}

.item-71 {
    background-image: url("img/item-71.png");
}

.item-72 {
    background-image: url("img/item-72.png");
}

.item-73 {
    background-image: url("img/item-73.png");
}

.item-74 {
    background-image: url("img/item-74.png");
}

.item-75 {
    background-image: url("img/item-75.png");
}

.item-76 {
    background-image: url("img/item-76.png");
}

.item-77 {
    background-image: url("img/item-77.png");
}

.item-78 {
    background-image: url("img/item-78.png");
}

.item-79 {
    background-image: url("img/item-79.png");
}

.item-80 {
    background-image: url("img/item-80.png");
}

.item-81 {
    background-image: url("img/item-81.png");
}

.item-82 {
    background-image: url("img/item-82.png");
}

.item-83 {
    background-image: url("img/item-83.png");
}

.item-84 {
    background-image: url("img/item-84.png");
}

.item-85 {
    background-image: url("img/item-85.png");
}

.item-86 {
    background-image: url("img/item-86.png");
}

.item-87 {
    background-image: url("img/item-87.png");
}

.item-88 {
    background-image: url("img/item-88.png");
}

.item-89 {
    background-image: url("img/item-89.png");
}

.item-90 {
    background-image: url("img/item-90.png");
}

.item-91 {
    background-image: url("img/item-91.png");
}

.item-92 {
    background-image: url("img/item-92.png");
}

.item-93 {
    background-image: url("img/item-93.png");
}

.item-94 {
    background-image: url("img/item-94.png");
}

.item-95 {
    background-image: url("img/item-95.png");
}

.item-96 {
    background-image: url("img/item-96.png");
}

.item-97 {
    background-image: url("img/item-97.png");
}

.item-98 {
    background-image: url("img/item-98.png");
}

.item-99 {
    background-image: url("img/item-99.png");
}

.item-100 {
    background-image: url("img/item-100.png");
}


/*# sourceMappingURL=style.css.map */